html, body {
  margin: 0;
  padding: 0;
}

%virtual-layer {
  content: '';

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

body {
  background: $lightBlack;

  color: $titleColor;
  font-family: $fontFamily;
  font-size: $fontSize;
}

h1, h2, h3, h4, h5, h6 {
  color: $titleColor;
}

#wrapper {
  position: relative;
  width: 100%;
  min-height: 100vw * 9/16;
  padding: $fontSize * 2;
  padding: 2rem;

  box-sizing: border-box;

  @include breakpoint(md) {
    width: 80vw;
    min-height: 80vw * 9/16;

    margin: $fontSize * 2 auto 0;
    margin: 2rem auto 0;
  }

  &:before {
    @extend %virtual-layer;
    z-index: -10;


    @include breakpoint(md) {
      opacity: 0.1;

      background-image: image-url('bg.jpg');
      background-size: cover;
      background-position: center;
    }

    pointer-events: none;
  }

  &:after {
    @extend %virtual-layer;
    z-index: -100;

    background-color: $bgColor;
  }
}

#header {
  text-align: center;

  h1 {
    display: inline-block;

    width: 200px;
    height: 50px;

    @include breakpoint(sm) {
      width: 400px;
      height: 100px;
    }

    background: image-url('logo.png') no-repeat;
    background-size: contain;
    @include retina {
      background-image: image-url('logo@2x.png');
    }

    text-indent: 100%;
    white-space: nowrap;

    overflow: hidden;
  }
}

#footer {
  margin: $fontSize auto;
  margin: 1rem auto;

  color: $white;
  text-align: center;

  a {
    color: $white;
  }
}

.inner {
  width: 90%;
  margin: 0 auto;

  @include breakpoint(md) {
    width: 600px;
  }
}

.text-center {
  text-align: center;
}
