// Settings

$bgColor: #D7CBA5;

// Fonts

// TODO: Add JustFont to support customize fonts
$fontFamily: "IPAmj明朝", "IPAmjMincho", "HanaMinA", serif;
$fontSize: 14px;
$titleConor: #AE3034;
$fontColor: #000000;
