// Settings

$white: #FFFFFF;
$black: #000000;
$lightBlack: #232323;
$bgColor: #D7CBA5;
$primaryColor: #AE3034;

// Fonts

// TODO: Add JustFont to support customize fonts
$fontFamily: "HanaMinA", "IPAmj明朝", "IPAmjMincho", serif;
$fontSize: 14px;
$titleColor: $primaryColor;
$fontColor: $black;
