.answer-enter-active, .answer-leave-active {
  transition: 1s $ease-in-circ;
}

.answer-enter, .answer-leave {
  transform: translateX(100%);
}

#question p {
  font-size: $fontSize;
  line-height: 1.5em;
  letter-spacing: .15em;
}
