.btn {
  display: inline-block;

  padding: $fontSize/2 $fontSize;
  margin: 0 $fontSize;

  border: 0;
  outline: 0;

  background-color: transparent;
}

.btn-primary {
  color: $white;
  background-color: $primaryColor;

  &:hover {
    background-color: darken($primaryColor, 5%);
  }

  &:active {
    transform: translate(1px, 1px);
  }
}

.btn-large {
  font-size: $fontSize * 1.5;
}

.btn-hammer {
  color: $primaryColor;

  text-indent: 50px;

  background-image: image-url('hammer.png');
  background-repeat: no-repeat;
  background-color: transparent;

  @include retina {
    background-image: image-url('hammer@2x.png');
    background-size: contain;
  }

  &:hover {
    background-color: transparent;
    background-image: image-url('hammer-active.png');

    @include retina {
      background-image: image-url('hammer-active@2x.png');
      background-size: contain;
    }
  }

  &:active {
    transform: none;
  }
}

.btn-fullwidth {
  display: block;
  width: 100%;

  margin: $fontSize auto 0;

  text-align: left;

  border: 3px solid $primaryColor;

  color: $primaryColor;
  background: transparent;

  transition: 200ms $ease-out-quad;

  &:hover, &:active, &.btn-active {
    color: $white;
    background: $primaryColor;
  }
}
